<%- include('../shared/header.ejs') %>

    <main>
      <h2><%= name %></h2>
      <p id="info"><%= info %></p>
      <span id="bodyImg">
        <img alt="image of <%= name %>">
        <p id="desc"><%= descrip %></p>
      </span>
    </main>
  </body>
</html>