<%- include('../shared/header.ejs') %>

    <main>
      <h2><%= name %></h2>
      <span id="bodyImg">
        <img alt="image of <%= name %>">
        <%_ if (ability !== '') { _%>
          <h4><%= name %> Description:</h4>
          <p id="desc"><%= descrip %></p>
        <%_ } _%>
      </span>
      <span id="info">
        <p><%= info %></p>
        <%_ if (ability !== '') { _%>
          <h4>Ability: <a href="/view/ability/<%= ability.id %>"><%= ability.name %></a></h4>
          <p><%= ability.info %></p>
        <%_ } _%>
      </span>
    </main>
  </body>
</html>