<%- include('../shared/header.ejs') %>

    <main>
      <h2><%= name %></h2>
      <h3><a href="/toPDF/<%= table %>/<%= id %>">Create PDF</a></h3>
      <h3><a href="/PDF/<%= table %>/<%= id %>">Create PDF redirect</a></h3>

      <h3><a href="http://api.pdflayer.com/api/convert?access_key=17fac7770f20e102e1728a20df1dbcda&document_url=https://en.wikipedia.org/wiki/Cyclone_Dumazile&test=1">Create PDF href</a></h3>

      <span id="bodyImg">
        <img alt="image of <%= name %>">
        <%_ if (ability !== '') { _%>
          <h4><%= name %> Description:</h4>
          <p id="desc"><%= descrip %></p>
        <%_ } _%>
      </span>
      <span id="info">
        <p><%= info %></p>
        <%_ if (ability !== '') { _%>
          <h4>Ability: <a href="/view/ability/<%= ability.id %>"><%= ability.name %></a></h4>
          <p><%= ability.info %></p>
        <%_ } _%>
      </span>
    </main>
    <script>
      const toPDF = async function () {
        console.log("Called toPDF()")
        
        // Call server side route to keep API key hidden from users
        
        const response = await fetch('/toPDF/<%= table %>/<%= id %>', {
          method: 'POST',
          header: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          },
          body: JSON.stringify({})
        })
        
        if (response.ok) {
          console.log("Nice!")
          const result = await response.json()
          if (result.created) {

            console.log("Mega Nice!")
            return
          }
        }
        console.log("Not good ;-;")
      }
    </script>
  </body>
</html>